.top-third-margin {
  margin-top: 100px;
}

.title {
  font-size: 80px;
  line-height: 80px;
  font-weight: 600;
  display: inline;
  text-align: center;
}
.purple-bg {
  border: 2px solid #6959f2;
}

.purple-text {
  color: #6959f2;
}

.max-width {
  max-width: 300px;
}

/* clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
